# ─── Supabase ─────────────────────────────────────────────────────────────────
# Trouve ces valeurs dans : Supabase Dashboard > Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://mcfbshuoarjoghfjegls.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jZmJzaHVvYXJqb2doZmplZ2xzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NTIwNzEsImV4cCI6MjA4ODMyODA3MX0.4NOOsGfWuAPBu41SW85WqVw7T4U0XbHWEy1F5A9qP18

# Clé privée — NE JAMAIS exposer côté navigateur
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jZmJzaHVvYXJqb2doZmplZ2xzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjc1MjA3MSwiZXhwIjoyMDg4MzI4MDcxfQ.4aiD-S01H2vv23yFik2PtI5SoW2Bb9q5oed6c6slMYo

# ─── Stripe ───────────────────────────────────────────────────────────────────
# Trouve ces valeurs dans : Stripe Dashboard > Developers > API Keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51T7lbERJYVt85TRu989W2cVIvgf1mioF1BpBMgxTfqlNYT048Qj6wLzOKBQxVun8X0VJzsPdQZxJR2nVIDIR1FTX00vzQE8bx1
STRIPE_SECRET_KEY=sk_test_51T7lbERJYVt85TRupXZ1l0F244U89TlQRz66CrSIIHuZRa1wRsLGAJCCUsWPwLtJ4UoVCSRvpZ2s6qIBNTGpsBO700ugdwk0xe
STRIPE_WEBHOOK_SECRET=whsec_...

# Price IDs — Stripe Dashboard > Products
STRIPE_PRICE_BASIC=price_1T7lyyRJYVt85TRu6AMyJTVp
STRIPE_PRICE_PRO=price_1T7m0RRJYVt85TRu3GBHADZt
STRIPE_PRICE_PREMIUM=price_1T7m0cRJYVt85TRu5dSqMHFU
Aperçu
Logs


# ─── App ──────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_URL=http://localhost:3000/
